:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  min-height: 100dvh;
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.main {
  padding-block: 1rem;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 1.5rem;
}

#input, #result {
  padding: 0.125rem;
  border: 1px solid black;
  font-family: monospace;
}

.controls {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#toast {
  display: inline-block;
  margin-inline: auto;
  padding: 0.25rem 0.5rem;
  border-style: dotted;
  border-width: 3px;
  border-color: green;
  color: purple;
  font-family: system-ui;
  font-size: 1.1rem;
  font-weight: 600;
}

#toast[data-visible="false"] {
  visibility: hidden;
}

#toast[data-visible="true"] {
  visibility: show;
}
