:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  min-height: 100dvh;
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  padding-block: 1rem;
}

details {
  display: inline-block;
  font-size: 1.1rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

main {
  margin-block: 2rem 1rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px auto;
  }
}

main > .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

main label {
  flex: 1;
  padding-block: 0.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

#input, #output {
  flex: 1;
  min-height: 140px;
  width: 100%;
  padding: 0.25rem;
  border: 1px solid;
  font-family: monospace;
  font-weight: 400;
  text-align: left;
}

#input {
  resize: none;
}

button {
  font-size: 1.3rem;
  
}

#toast {
  display: inline-block;
  margin-block: 1rem;
  margin-inline: auto;
  padding: 0.4rem 1.1rem;
  border-style: dotted;
  border-width: 3px;
  font-family: system-ui;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: default;
}

#toast[data-visible="false"] {
  opacity: 0;
  transition: opacity 1.3s;
}

#toast[data-visible="true"] {
  opacity: 1;
  transition: opacity 0.3s;
}